<h1>Listing IPs</h1>

<table>
  <tr>
    <th>IP</th>
    <th>Private</th>
    <th>Country</th>
    <th>Country Code</th>
    <th>Region</th>
    <th>City</th>
    <th>Latitude</th>
    <th>Longitude</th>
  </tr>
  <% if $ips != nil %>
    <% $ips.each do |ip| %>
      <tr>
        <td><%= ip["ip"] %></td>
        <td><%= ip["is_private"] %></td>
        <td><%= ip["country"] %></td>
        <td><%= ip["country_code"] %></td>
        <td><%= ip["region"] %></td>
        <td><%= ip["city"] %></td>
        <td><%= ip["lat"] %></td>
        <td><%= ip["lon"] %></td>
      </tr>
    <% end %>
  <% end %>
</table>
